player-connection-mode=Listen
player-connection-guid=3768406246
player-connection-debug=0
player-connection-project-name=Ultraschall-VR
player-connection-ip=192.168.0.113
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=1
vr-device-list=OpenVR,Oculus
hdr-display-enabled=0
